*.obj
*.exe
*.exe.embed.manifest
*.exe.embed.manifest.res
*.exe.intermediate.manifest
*.ilk
*.lastbuildstate
*.log
*.tlog
*.idb
*.pdb
*.opensdf
*.sdf
*_manifest.rc
*.vcxprojResolveAssemblyReference.cache
*.vcxproj.user
*.suo
*.ipch
